.body{
color: #2C2C2C;
background-color: #FFFFFF;
font-family: 'Roboto', sans-serif;
}

.container{
width: 1280px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
}

button{
cursor: pointer;
}
        
.list{
list-style-type: none;
}

.link{
text-decoration: none;
}

/* Header */

.header{
    color: #2C2C2C;
    background-color: #FEFEFE;
}

.navigation{
color: #2C2C2C;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
align-items: center;
}

.nav-list{
display: flex;
gap: 28px;
text-align: center;
}

/* Section 1 */
/* Section 2 */

/* Section 3 */



.favorites-list{
display: flex;
flex-wrap: wrap;
gap: 32px;
}

/* Section 4 */

/* Footer */

.footer-list{
display: flex;
}